cov-core          # via nose2-cov
coverage          # via cov-core, coveralls
coveralls
docopt            # via coveralls
flake8
funcsigs          # via mock
mccabe            # via flake8
mock
nose2-cov
nose2
pbr               # via mock
pep8              # via flake8
pyflakes          # via flake8
requests-mock
requests          # via coveralls, requests-mock
six               # via mock, nose2, requests-mock
sphinx
sphinx-rtd-theme
